@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --cor1:hsl(225, 100%, 94%);
    --cor2:hsl(245, 75%, 52%);
    --cor3: hsl(225, 100%, 98%);
    --cor4: hsl(224, 23%, 55%);
    --cor5: hsl(223, 47%, 23%);

    --font-padrao: font-family: 'Red Hat Display', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    background: var(--cor1);
    font-family: 'Red Hat Display', sans-serif;
    padding: 40px 0px;
    display: flex;
}
main {
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
    height: 100%;
}
h1, h2 {
    color: var(--cor5);
}
p {
    color: var(--cor4);
}
section.conteiner {
    height: 84vh;
    width: 350px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.26);

    
} 
div.img {
    background-image: url(../images/illustration-hero.svg);
    display: block;
    width: 100%;
    height: 26vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
    
}    
.escrita-principal {
    padding: 0px 40px;
    margin-top: 1.3em;
}  
.escrita-principal h1 {
    text-align: center;
    font-weight: 900;
}
.escrita-principal p {
    text-align: justify;
    margin-top: 1em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.escrita-plano {
    display: flex;
    align-items: center;
    margin: 1.3em 20px 0px 20px;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: hsl(225, 100%, 98%);
    
}
div.img-sound {
    background: url(../images/icon-music.svg);
    height: 48px;
    width: 48px;
}
.info-card {
    margin: 0px 30px 0px 15px;
}
.info-card p, a {
    text-align: center;
    font-size: .87em;
}
.escrita-plano h2 {
    font-weight: 900;
    font-size: 16px;
    
}
.botao {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.button-end {
    border: none;
    padding: 16px 0px;
    width: 280px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    display: block;
    margin: auto;
}
#pay-button {
    background-color: var(--cor2);
    color: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.479);
    margin-top: 1.5em;
}
#cancel-button {
    margin-top: .3em;
    background-color: transparent;
    color: var(--cor4);
}
